<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>cherub - Find Love With Friends</title>
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="vendor/simple-line-icons/css/simple-line-icons.css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="device-mockups/device-mockups.min.css">
  <!-- Custom styles for this template -->
  <link href="css/new-age.min.css" rel="stylesheet">
  <link rel="shortcut icon" type="image/png" href="img/favicon.png">

  <style>
    .blktxt {
      color: black;
    }

    /* Mobile first queries */

    /* Larger than mobile */

    @media (min-width: 400px) {
      .table{
        display:table-caption;
      }
      .padding{
        padding-top:5em;
      }
      .centered{
        display:flex;
      }
      .centered-top{
        display:flex;
        padding-top:5em;
      }

      #profile_pic {
        width: 180px;
        height: 180px;
      }
      header.masthead {
        padding-top: 0;

      }
      .col {
        height: 500px;
      }
      #v-pills-tabContent {
        width: 400;
      }
    }

    /* Larger than phablet */

    @media (min-width: 550px) {

      header.masthead {
        padding-top: 0;

      }
      #profile_pic {
        width: 180px;
        height: 180px;
      }
      #master {
        display: flex;
        flex-direction: column;
        align-self: center;
      }
      .row {
        display: flex;
        flex-wrap: wrap;
      }
      #v-pills-tabContent {
        width: 400;
      }
    }

    /* Larger than tablet */

    @media (min-width: 750px) {
      #profile_pic {
        width: 250px;
        height: 250px;
      }
      .row {
        display: flex;
      }
    }

    /* Larger than desktop */

    @media (min-width: 1000px) {}

    /* Larger than Desktop HD */


    @media (min-width: 1200px) {

    }

  </style>

  {{#userslist}}

<!-- Delete Profile Confirmation Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Delete Profile</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="/deleteUser" method="post">
            <label for="recipient-name" class="col-form-label">Are you sure you want to delete your profile?</label>
        </div>
        <div class="modal-footer">
          <input type="hidden" name="userid" value="{{id}}">
          <input type="submit" class="btn btn-warning" value="Delete">
          </form>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>

<!-- Edit Profile Modal -->

<div class="modal fade" id="editProfileModal" tabindex="-1" role="dialog" aria-labelledby="editProfileModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content blktxt">
      <div class="modal-header">
        <h5 class="modal-title" id="editProfileModalLabel">Edit Profile</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/editProfile" method="POST">
        <input type ='hidden' name='id' value='{{id}}'>
        <div class="form-group">
          <label class="col-form-label">First Name</label>
          <input type="text" class="form-control" name="firstname" value='{{firstname}}'>
        </div>
        <div class="form-group">
          <label class="col-form-label">Last Name</label>
          <input type="text" class="form-control" name="lastname" value='{{lastname}}'>
        </div>
        <div style="margin: 1em 0 1.5em 6em;">
            <label for="party-time">Date of Birth:</label>
            <input type="date" id="dob" name="dob" max="2000-06-07"/>
        </div>
        <div class="form-inline" style="display: inline-grid; margin: 0 3em 0 4em;">
          <label for="gender" class="col-form-label inline">Gender</label>
          <div class="radio" style="display:flex;">
            <label class="radio"><input type="radio" name="gender" value="male"> Male</label>
          </div>
          <div class="radio" style="display:flex;">
          <label class="radio"><input type="radio" name="gender" value="female"> Female</label>
          </div>
        </div>
        <div class="form-inline" style="display: inline-grid; margin: 0 3em 0 4em;">
          <label for="sex-pref" class="col-form-label inline">Sexual Preference</label>
          <div class="radio" style="display:flex;">
            <label class="radio"><input type="radio" name="sexpref" value="male">  Seeking Male</label>
          </div>
          <div class="radio" style="display:flex;">
            <label class="radio"><input type="radio" name="sexpref" value="female">  Seeking Female</label>
          </div>
          <div class="radio" style="display:flex;">
            <label class="radio"><input type="radio" name="sexpref" value="both">  Seeking Both</label>
          </div>
        </div>
        <div class="form-inline">
          <label class="col-form-label" for="min_age">Minimum age of Matches</label>
          <input type="number" name="min_age" min="18" max="99" style="display:block;" value="18">
        </div>
        <div class="form-inline">
          <label class="col-form-label" for="max_age">Maximum age of Matches</label>
          <input type="number" name="max_age" min="19" max="100" style="display:block;" value="19">
        </div>
        <div class="form-group">
          <label class="col-form-label">Bio</label>
          <textarea name="bio" class="form-control" rows="5" cols="50" value='{{bio}}'></textarea>
        </div>
        <div class="form-group">
          <label class="col-form-label">Profile Picture</label>
          <input type="text" class="form-control" name="profilepic" value='{{profilepic}}'></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <input type="submit" class="btn btn-warning btn-outline btn-xl" value="submit"/>
      </div>
      </form>
    </div>
  </div>
</div>

<!-- Nav Bar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-dark fixed-top mb-0" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="/">cherub</a>
      <img src="img/favicon.png" width="25px" height="25px">
      <ul class="navbar-nav float-right">
        <li class="nav-item">
          <form action="/logout" method="post">
            <input class="btn btn-outline-light" type="submit" value="Logout">
          </form>
        </li>
      </ul>
    </div>
  </nav>
</head>


<!-- START OF BODY -->

<body>
  <header class="masthead d-inline-flex" id="master">
    <div class="container">
      <div class="row">

        <div class="col">
          <div class="float-left">

            <div class="nav flex-column nav-tabs-google" id="v-pills-tab" role="tablist" aria-orientation="vertical">
              <a class="nav-link active" id="v-pills-Bio-tab" data-toggle="pill" href="#v-pills-Bio" role="tab" aria-controls="v-pills-Bio" aria-selected="true"><h1>Bio</h1></a><br>
              <a class="nav-link" id="v-pills-Matches-tab" data-toggle="pill" href="#v-pills-Matches" role="tab" aria-controls="v-pills-Matches" aria-selected="false"><h1>Matches</h1></a><br>
              <a class="nav-link" id="v-pills-Pictures-tab" data-toggle="pill" href="#v-pills-Pictures" role="tab" aria-controls="v-pills-Pictures" aria-selected="false"><h1>Pictures</h1></a><br>
              <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false"><h1>Settings</h1></a><br>
            </div>

          </div>
        </div>

        <div class="col">
          <div class="h-100">
            <div class="col row-justify-content-center mt-5 table">
              <!-- Insert profile pic src below -->
              <img id="profile_pic" src="{{profilepic}}" alt='img/profile-placeholder.png' class="rounded-circle" alt="Profile Pic" width="280" height="280">
              <h3 class="text-center ml-2">{{firstname}} {{lastname}}</h3>
            </div>
          </div>
        </div>

        <div class="col">
            <div class="tab-content" id="v-pills-tabContent">

              <!-- Bio -->
              <div class="tab-pane fade show active" id="v-pills-Bio" role="tabpanel" aria-labelledby="v-pills-Bio-tab">

                <h2 class="d-flex justify-content-center">{{firstname}} {{lastname}}</h2>
                <h2>Gender : {{gender}}</h2>
                <h2>Sexual Preference : {{sexpref}}</h2>
                <h2>   Age preferences : {{youngest}} - {{oldest}}</h2>
                <h2>Bio :</h2> <p>{{bio}}</p>
                <a class="btn btn-outline-success nav-link js-scroll-trigger d-flex justify-content-center" href="#" data-toggle="modal" data-target="#editProfileModal">Edit Profile</a>

              </div>

              <!-- Matches -->
              <div class="tab-pane fade" id="v-pills-Matches" role="tabpanel" aria-labelledby="v-pills-Matches-tab">

                <form action="/findmatches" method="get" class="justify-content-center centered-top">
                  <input class="btn btn-warning btn-outline btn-xl" type="submit" value="Start Matching">
                </form>
                <br>
                <br>
                <br>
                <form action="/test" method="get" class="justify-content-center centered">
                  <input class="btn btn-warning btn-outline btn-xl" type="submit" value="View Matches">
                </form>

              </div>

              <!-- Pictures -->
              <div class="tab-pane fade" id="v-pills-Pictures" role="tabpanel" aria-labelledby="v-pills-Pictures-tab">

                <form action="/addimage" method="POST" class="padding">
                  <input type ='hidden' name='id' value='{{id}}'>
                  <div class="form-group">
                    <label class="col-form-label">Image URL</label>
                    <input type="text" class="form-control" name="imagesource" value={{imagesource}}>
                  </div>
                  <div class="modal-footer justify-content-center centered">
                    <input type="submit" class="btn btn-warning btn-outline btn-xl" value="submit"/>
                  </div>
                </form>

              </div>

              <!-- Settings -->
              <div class="tab-pane fade padding" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                <h2 class="d-flex justify-content-center">Delete Profile</h2>
                <a class="nav-link js-scroll-trigger d-flex justify-content-center" href="#" data-toggle="modal" data-target="#deleteModal">Delete Profile</a>
              </div>
            </div>
        </div>
        </div>
      </div>
      {{/userslist}}
    </div>


    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/new-age.min.js"></script>
  </header>
  <footer>
    <div class="container">
      <p>&copy; cherub.inc 2018. All Rights Reserved.</p>
      <ul class="list-inline">
        <li class="list-inline-item">
          <a href="#">Privacy</a>
        </li>
        <li class="list-inline-item">
          <a href="#">Terms</a>
        </li>
        <li class="list-inline-item">
          <a href="#">FAQ</a>
        </li>
      </ul>
    </div>
  </footer>
</body>

</html>
